* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: inter, sans-serif;
    background-color: #FFF7ED;
}

a {
    text-decoration: none;
}

a:hover,
button:hover {
    cursor: pointer;
}

/* buttons */

.btn-orange,
.btn-black-s {
    border: none;
    font-family: inherit;
    font-size: 1.25em;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.5rem;
}

.home-btn-orange {
    width: 100%;
}

.btn-orange {
    margin-top: 1rem;
    background-color: #FF8C38;
    color: #fff;
    width: 100%;
}

.btn-black-s {
    color: #FFF;
    background-color: #161616;
    font-size: 1em;

}

/* navigation */

.navigation {
    display: flex;
    background-color: #FFF7ED;
    padding: 2rem 2rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navigation a:hover {
    color: #161616;
    text-decoration: underline;
        cursor: pointer;

}

.link {
    text-decoration: none;
    color: #4D4D4D;
}

.vanlife-logo {
    width: 10rem;
}

.vanlife-logo:hover {
    cursor: pointer;

}

.nav-links {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
}

/* footer */

.footer {
    background-color: #252525;
    color: #AAAAAA;
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    /* bottom: 0; */
    width: 100%;
}

/* Home page */
.home-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    gap: 1rem;
    /*: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/img-home.png") no-repeat center center;*/
    background-image: url(assets/img-home.png); 
    background-size: cover;
    color: #FFF;
}

.home-main > h1 {
    margin: 0;
}

/* About page */

.main-about {
    color: #161616;
    display: grid;
    grid-template-rows: auto auto;
}

.about-img {
    width: 100%;
    margin: 0;
}

.copy-section {
    background-color: #FFF7ED;
    padding: 3rem 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about-main-copy > h1 {
    margin: 0;
}

.about-vans-container {
    background-color: #FFCC8D;
    width: 80%;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
}

.about-vans-container > h2 {
    margin: 0;
    padding-bottom: 1.5rem;
}

/* Vans page */

.main-vans {
    padding: 0 2rem;
    margin-bottom: 3rem;
}

.main-vans-title {
    margin: 1rem 0 2rem;
}

.tag-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 1.5rem;
}

.tag-list {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.tag {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.tag:hover {
    cursor: pointer;
}

.filters-reset:hover {
    font-weight: 600;
    cursor: pointer;
}

.tag-list-el {
    background-color: #FFEAD0;
    color: #4D4D4D;
}

.tag-list-el:hover {
    background-color: #FFCC8D;
}

.van-type-tag {
    color: #FFEAD0;
    display: inline-block;
    margin: 0;
}

.simple {
    background-color: #E17654;
}

.rugged {
    background-color: #115E59;
}

.luxury {
    background-color: #161616;
}

.van-list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.van-element:hover {
    cursor: pointer;
}

.van-element:hover > .van-img {
    transform: scale(1.05)
}

.van-title,
.van-price {
    color: #161616;
}

.van-title {
    font-size: 1.5em;
    font-weight: 500;
}

.van-img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.van-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -0.75rem;
}

.van-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.van-list-price {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: -1rem;
}

/* van info page */

.van-info-page {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.back-to-vans-page {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #858585;
}

.back-to-vans-page:hover > p {
    text-decoration: underline;
}

.back-to-vans-page > p {
    color: #201F1D;
    margin: 0;
}

.img-van-info-page {
    padding: 3rem 0;
}

.van-info-page-copy {
    display: flex;
    flex-direction: column;
}

.van-info-tag {
    display: block;
    margin: 0 auto 0 0;
}

.van-info-title {
    font-weight: 600;
}

.van-info-price {
    margin: 0;
    font-size: 1.25em;
}

.van-info-price > span {
    font-weight: 600;
}

.van-info-btn-orange {
    margin-top: 1rem;;
}