* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
    height: 100%;
    color: #161616;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-wrapper {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-width: 100%;
}

.section {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.padding{ 
    padding: 2rem;
}

.margin-footer {
    margin-top: 2rem;
}

/* txt */

h1, h2, h3, p, a {
    margin: 0;
}

h1 {
    font-size: 2em;
}

.txt-color {
    color: #E17654;
}

.copy-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-center {
    align-items: center;
}

.container-left {
    align-items: left;
}

.copy-container-small-gap {
    gap: 1.25rem;
}

/* links */

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/* buttons */

.button {
    border: none;
    font-family: inherit;
    font-size: 1.25em;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    color: #fff;
}

.btn-orange {
    background-color: #FF8C38;
}

.btn-black {
    background-color: #161616;
}

.btn-l {
    width: 100%;
}

.btn-s {
    padding: 1.25rem;
}

button:disabled {
    background-color: #FFCC8D;
    color: #4D4D4D;
}

button:hover {
    cursor: pointer;
}

.link-button {
    width: 100%;
}

/* navigation */

.navigation {
    display: flex;
    background-color: #FFF7ED;
    padding: 2rem 2rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.vanlife-logo {
    width: 10rem;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
    align-items: center;
    margin: 0;
}

nav a {
    color: #4D4D4D;
}

.host-nav {
    margin: 0 0 2rem 2rem;
}

.dropdown-avatar {
    color: #4D4D4D;
    font-size: 1.75em;
}

nav a:hover,
.active-link {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

.dropdown-avatar:hover,
.vanlife-logo:hover {
    cursor: pointer;
}

/*dropdown menu */
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    transform: translate(-5rem, 0.25rem);
}
  
.dropdown-menu p {
    font-family: inherit;
    font-weight: 400;
    font-size: 1.25rem;
    color: #FFF7ED;
    padding-left: 0.5rem;
    display: block;
    margin: 0.75rem 1rem;
    white-space: nowrap;
  }
  
.dropdown-menu p:hover {
    font-weight: 600;
    text-decoration: underline;
    color: #FFCC8D;
  }

.dropdown:hover .dropdown-menu {
    display: block;
}

/* burger menu */

.burger-menu {
    display: none;
  }
  
  .burger-icon {
    font-size: 2rem;
    cursor: pointer;
  }
  
  .menu-nav {
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 14rem;
    padding: 1.25rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .menu-nav a {
    color: #FFF7ED;
    text-decoration: none;
    margin: 0.75rem 0;
    font-size: 1.25rem;
  }
  
  .menu-nav a:hover {
    color: #FFCC8D;
  }

/* footer */

footer {
    background-color: #161616;
    color: #AAAAAA;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}

/* Home page */

.home-bkg-img {
    background-image: url(assets/img-home.png); 
    background-size: cover;
    background-position: center;
}

.section-home {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 1.75rem;
    color: #FFF;
}

/* About page */

.section-about{
    padding-bottom: 4rem;
}

.image-container-about {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.img-about {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-vans-container {
    background-color: #FFCC8D;
    width: 100%;
    padding: 1.75rem;
    border-radius: 0.5rem;
}

.button-about {
    margin-top: 1rem;
}

/* not found page */

.main-not-found {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: -2rem;
    justify-content: center;
    align-items: center;
}

.main-not-found h1 {
    font-size: 1.75em;
}

/* login page */

.login-section {
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
    gap: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.login-form > input {
    padding: 1rem;
    font-family: inherit;
    font-size: 1em;
}

.input-email {
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem 0.5rem 0 0;
}

.input-password {
    border-width: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    border-bottom: 1px solid #D1D5DB;
    border-right: 1px solid #D1D5DB;
    border-left: 1px solid #D1D5DB;
}

.login-btn {
    margin-top: 2rem;
}


/* vans page tags */

.tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.tag-list {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.tag {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.tag-type {
    color: #FFEAD0;
    display: inline-block;
    margin: 0;
}

.tag-type-details {
    display: block;
    margin: 0 auto 0 0;
}


.tag-list-el {
    background-color: #FFEAD0;
    color: #4D4D4D;
}

.simple {
    background-color: #E17654;
}

.rugged {
    background-color: #115E59;
}

.luxury {
    background-color: #161616;
}

.active {
    color: #FFEAD0;
}

.active-simple {
    background-color: #E17654;
}

.active-rugged {
    background-color: #115E59;
}

.active-luxury {
    background-color: #161616;
}

.tag-reset:hover {
    font-weight: 600;
}

.tag-list-el:hover {
    color: #FFEAD0;
}

.tag-list-el-simple:hover  {
    background-color: #E17654;
}

.tag-list-el-rugged:hover  {
    background-color: #115E59;
}

.tag-list-el-luxury:hover  {
    background-color: #161616;
}

/* vans page */

.section-vans {
    padding: 0 2rem 4rem;
    margin-bottom: 3rem;
}

.section-vans-title {
    margin: 1rem 0 2rem;
}

.van-list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.van-title,
.van-price {
    color: #161616;
}

.van-title {
    font-size: 1.5em;
    font-weight: 600;
}

.van-img {
    width: 100%;
    border-radius: 0.5rem;
}

.van-info {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-top: 1rem;
}

.van-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.van-list-price {
    font-size: 1.5em;
    font-weight: 500;
}

.van-element:hover {
    cursor: pointer;
}

.van-element:hover > .van-img {
    transform: scale(1.05);
}

/* van detail page */

.van-detail-section {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 4rem;
}

.back-to-vans-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #858585;
    margin-bottom: 2rem;
}

.back-to-vans-section:hover > p {
    text-decoration: underline;
    font-weight: 500;
}

.back-to-vans-section > p {
    color: #201F1D;
    margin: 0;
}

.van-info-price {
    font-size: 1.25em;
}

.van-info-price > span {
    font-weight: 600;
}

.van-details-copy {
    gap: 1rem;
}

/* host dashboard */

.host-dashboard-container {
    padding:  1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-dashboard-section a {
    color: #201F1D;
}

.host-dashboard-section {
    padding-bottom: 4rem;
}

.host-dashboard-earnings {
    background-color: #ffead0;
}

.host-dashboard-earnings .info > h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.host-dashboard-earnings .info > p {
    color: #4d4d4d;
    padding: 1.5rem 0 0.5rem 0;
}

.host-income {
    font-size: 2.25em;
    font-weight: 800;
}

.host-dashboard-reviews {
    background-color: #ffddb2;
}

.star {
    color: #ff8c38;
    font-size: 1em;
}

.star-l {
    font-size: 1.5em;
}

.star-dashboard {
    margin-left: 1rem;
}

.host-dashboard-reviews p {
    margin-left: 0.5rem;
    font-size: 1.25em;
    color: #4d4d4d;
    margin-right: auto;
}

.host-dashboard-reviews p > span {
    font-weight: bold;
    color: #161616;
}


.host-dashboard-vans {
    padding:  1.5rem 2rem;
}

.host-dashboard-vans > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-van-list-solo {
    background-color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-van-list-solo-element {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* host vans */

.host-van-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.host-van-list-empty {
    padding: 2rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.host-van-list-element {
    background-color: #fff;
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 100px auto;
}

.host-van-list-img {
    width: 100px;
    border-radius: 0.5rem;
}

.host-van-list-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.host-van-list-price {
    color: #4D4D4D;
    font-size: 1.25rem;
}

/* host vans - details */

.host-details-section {
    padding: 0 2rem;
}

.host-van-info-container {
    padding: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.host-van-info-page nav {
    font-size: 1em;
}

.van-details-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 150px auto;
}

.van-details-container .van-img{
    width: 150px;
    border-radius: 0.25rem;
}

.van-details-top-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.bold {
    font-weight: 600;
}

.host-details-bottom-section {
    gap: 0.75rem;
}

.bottom-section-description {
    max-width: 700px;
}

.host-details-bottom-section .van-info-price {
    font-size: 1.5em;
}

.host-details-bottom-section img {
    border-radius: 0.5rem;
    width: 100px;
}

/* host reviews */

.host-section {
    padding: 0 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.host-section .top-text{
    font-size: 2.5rem;
    font-weight: 800;
}

.host-rating {
    display: flex;
    align-items: center;
}

.star-review-top {
    margin: 0 1rem 0 0.5rem;
}

.host-container {
    display: flex;
    flex-direction: column;
}

.host-reviews-container {
    gap: 1.25rem;
}

.host-reviews-container .review-container {
    gap: 0.5rem;
}

.star-container {
    display: flex;
    gap: 0.25rem;
}

.review-container .info {
    display: flex;
    gap: 0.75rem;
}

.review-container .name {
    font-weight: 600;
}

.review-container .date {
    color: #8c8c8c;
}

.host-section hr {
    background-color: #c7c7c7;
    height: 1px;
    border: 0;
}

/* chart */
.chart-element {
    display: grid;
    grid-template-columns: 80px auto 80px;
    width: 100%; 
    gap: 0.5rem;
}

.bars-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.chart-bar-w {
    position: relative;
    height: 20px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chart-bar-o {
    height: 100%;
    background-color: #ff8c38;
    border-radius: 5px 0 0 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.chart-label {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    font-size: 1em;
    font-weight: 400;
    color: #161616;
}

.chart-label p{
    margin: 0;
}

.chart-label-precentage {
    margin-left: 0.75rem;
    text-align: left;
}

.chart-label-star {
    margin-right: 0.75rem;
    text-align: right;
}

/* host income */

.income-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.transactions-container {
    margin-top: 1rem;
    gap: 1.5rem;
}

.transactions-container .transaction-list-title {
    font-size: 1.5em;
}

.transactions-container .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
}
.transactions-container .transaction > h3 {
    font-size: 2.5em;
    font-weight: 600;
}

.transactions-container .transaction > p {
    font-weight: 500;
    font-size: 1.25em;
    color: #4d4d4d;
}


/* media */

@media (max-width: 600px) {
    .burger-menu {
      display: block;
    }

    .main-navigation {
        display: none;
    }
  }

  @media (min-width: 800px) {

    .site-wrapper {
        align-items: center;
    }
    
    .section,
    .navigation,
    .host-nav {
        width: 720px;
    }

    
    .section-home-content {
        font-size: 1.5rem;
    }
    
    footer,
    .home-bkg-img,
    .section-about,
    .host-dashboard-section {
        width: 100vw;
    }

    .host-dashboard-section,
    .host-dashboard-earnings,
    .host-dashboard-reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .host-dashboard-earnings,
    .host-dashboard-reviews {
        width: 100%;
    }
    
    .section-home-content,
    .copy-container,
    .host-van-list,
    .host-dashboard-container {
        width: 720px;
    }
    
    .section-about-content {
        padding: 1rem 0;
        display: block;
        margin: 0 auto;
    }   
    
    .copy-container,
    .host-dashboard-section,
    .host-section,
    .host-details-bottom-section {
        font-size: 1.25rem;
    }
    
    .about-vans-container {
        margin-top: 1rem;
        line-height: 2.75rem;
    }

    .image-container-about {
        height: 400px;
    }
    
    .img-about {
        object-position: top -50px right 0;
    }

    .host-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  }