* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
    height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:hover,
button:hover {
    cursor: pointer;
}

.page {
    padding: 2rem;
}
/* buttons */

.btn-orange,
.btn-black,
.btn-black-s {
    border: none;
    font-family: inherit;
    font-size: 1.25em;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.5rem;
}

.home-btn {
    width: 100%;
}

.btn-orange {
    margin-top: 1rem;
    background-color: #FF8C38;
    color: #fff;
    width: 100%;
}

.btn-black {
    margin-top: 1rem;
    color: #FFF;
    background-color: #161616;
    width: 100%;
}

.btn-black-s {
    color: #FFF;
    background-color: #161616;
    font-size: 1em;

}

button:disabled {
    background-color: #FFCC8D;
    color: #4D4D4D;
  }

/* navigation */

.navigation {
    display: flex;
    background-color: #FFF7ED;
    padding: 2rem 2rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav a:hover,
.active-link {
    color: #161616;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: #4D4D4D;
}

.vanlife-logo {
    width: 10rem;
}

.vanlife-logo:hover {
    cursor: pointer;

}

.nav-links {
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
    align-items: center;
}

.header-avatar {
    color: #4D4D4D;
    font-size: 1.75rem;
}

/*dropdown menu */
.dropbtn {
    padding: 0.5rem;
    margin-right: -0.5rem;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFCC8D;
    color: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    transform: translate(-50%, 0);
  }
  
  .dropdown-content p {
    font-family: inherit;
    font-weight: 400;
    font-size: 1rem;
    color: #161616;
    padding: 0.75rem 1rem;
    display: block;
    margin: 0;
    white-space: nowrap;
  }
  
  .dropdown-content p:hover {
    font-weight: 600;
  }

  .dropdown:hover .dropdown-content {
    display: block;}
  

/* footer */

footer {
    background-color: #161616;
    color: #AAAAAA;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}

/* Home page */

.home-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 1rem;
    background-image: url(assets/img-home.png); 
    background-size: cover;
    background-position: center;
    color: #FFF;
}


.home-main > h1 {
    margin: 0;
}

/* About page */

.main-about {
    color: #161616;
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 3rem;
}

.about-img {
    width: 100%;
    margin: 0;
}

.copy-section {
    background-color: #FFF7ED;
    padding: 3rem 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about-main-copy > h1 {
    margin: 0;
}

.about-vans-container {
    background-color: #FFCC8D;
    width: 80%;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
}

.about-vans-container > h2 {
    margin: 0;
    padding-bottom: 1.5rem;
}

/* Vans page */

.main-vans {
    padding: 0 2rem;
    margin-bottom: 3rem;
}

.main-vans-title {
    margin: 1rem 0 2rem;
}

.tag-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.tag-list {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.tag {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.tag:hover {
    cursor: pointer;
}

.filters-reset:hover {
    font-weight: 600;
    cursor: pointer;
}

.tag-list-el {
    background-color: #FFEAD0;
    color: #4D4D4D;
}
/*
.tag-list-el:hover {
    color: #4D4D4D;
    background-color: #FFCC8D;
}
*/
.van-type-tag {
    color: #FFEAD0;
    display: inline-block;
    margin: 0;
}

.tag-list-el:hover {
    color: #FFEAD0;
}

.tag-list-el-simple:hover  {
    background-color: #E17654;
}

.tag-list-el-rugged:hover  {
    background-color: #115E59;
}

.tag-list-el-luxury:hover  {
    background-color: #161616;
}

.active {
    color: #FFEAD0;
}

.active-simple {
    background-color: #E17654;
}

.active-rugged {
    background-color: #115E59;
}

.active-luxury {
    background-color: #161616;
}

.simple {
    background-color: #E17654;
}

.rugged {
    background-color: #115E59;
}

.luxury {
    background-color: #161616;
}

.van-list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.van-element:hover {
    cursor: pointer;
}

.van-element:hover > .van-img {
    transform: scale(1.05);
}

.van-title,
.van-price {
    color: #161616;
}

.van-title {
    font-size: 1.5em;
    font-weight: 500;
}

.van-img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.van-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -0.75rem;
}

.van-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.van-list-price {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: -1rem;
}

/* van info page */

.van-info-page {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.back-to-vans-page {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #858585;
}

.back-to-vans-page:hover > p {
    text-decoration: underline;
}

.back-to-vans-page > p {
    color: #201F1D;
    margin: 0;
}

.img-van-info-page {
    padding: 3rem 0;
}

.van-info-page-copy {
    display: flex;
    flex-direction: column;
}

.van-info-tag {
    display: block;
    margin: 0 auto 0 0;
}

.van-info-title {
    font-weight: 600;
}

.van-info-price {
    margin: 0;
    font-size: 1.25em;
}

.van-info-price > span {
    font-weight: 600;
}

.van-info-btn-orange {
    margin-top: 1rem;;
}

/* host page - vans */

.host-van-list {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.host-van-list-empty {
    padding: 2rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.host-van-list-element {
    background-color: #fff;
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 100px auto;
}

.host-van-list-img {
    width: 100px;
    border-radius: 0.5rem;
}

.host-van-list-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.host-van-list-price,
.host-van-list-name {
    margin: 0 ;
}

.host-van-list-name {
    color: #161616;
    font-weight: 600;
    font-size: 1.5rem;
}

.host-van-list-price {
    color: #4D4D4D;
    font-size: 1.25rem;
}

/* host page - vans - details */

.host-van-details {
    margin-top: 2rem;
}

.host-van-info-page {
    padding: 2rem;
    background-color: #fff;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.host-van-info-page nav {
    font-size: 1em;
}

.selected-van-details {
    display: grid;
    gap: 1rem;
    grid-template-columns: 150px auto;
}

.selected-van-img {
    width: 150px;
    border-radius: 0.25rem;
}

.selected-van-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selected-van-type {
    padding: 0.5rem 1rem;
    font-size: 0.75em;
    display: block;
    margin: 0 auto 0 0;
}

.selected-van-copy .van-info-title {
    margin: 1rem 0;
}

.bold {
    font-weight: 600;
}

.host-details-subp {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.host-details-subp p{
    margin: 0;
}

.host-details-subp .van-info-price {
    font-size: 1.5em;
}

.host-details-subp .selected-van-img {
    width: 100px;
}

/* not found page */

.main-not-found {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: -2rem;
    justify-content: center;
    align-items: center;
}

.main-not-found h1 {
    font-size: 1.75em;
}

/* login page */

.login-container {
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.login-form > input {
    padding: 1rem;
    font-family: inherit;
    font-size: 1em;
}

.input-email {
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem 0.5rem 0 0;
}

.input-password {
    border-width: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    border-bottom: 1px solid #D1D5DB;
    border-right: 1px solid #D1D5DB;
    border-left: 1px solid #D1D5DB;
}

.login-btn {
    margin-top: 2rem;
}

.login-error {
    color: #E17654;
}